body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #149dcc !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #149dcc !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #0b566f !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #149dcc;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rp3BqhgZB8 {
  padding-top: 90px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/mbr-1920x1334.jpg");
}
.cid-rp3BqhgZB8 .icons-media-container {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 4rem;
}
.cid-rp3BqhgZB8 .icons-media-container .mbr-iconfont {
  font-size: 96px;
  color: #ffffff;
}
.cid-rp3BqhgZB8 .icons-media-container .icon-block {
  padding-bottom: 1rem;
}
.cid-rp3BqhgZB8 .mbr-text {
  color: #ffffff;
}
.cid-rp3BqhgZB8 .card {
  padding-bottom: 1.5rem;
}
.cid-so32FchbDp {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-so32FchbDp h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-so32FchbDp p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-so32FchbDp .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-so32FchbDp .mbr-section-btn a {
  margin: 0;
}
.cid-so32FchbDp .mbr-text {
  color: #767676;
}
.cid-so32FchbDp .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-so32FchbDp .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-so32FchbDp .mbr-text,
.cid-so32FchbDp .mbr-section-btn {
  text-align: center;
}
.cid-so32FchbDp .card-title {
  text-align: center;
}
.cid-rFz7tRQiN1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mbr-1920x1205.jpg");
}
.cid-rFz56gjeo5 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #232323;
}
.cid-rFz56gjeo5 .card-img {
  background-color: #fff;
}
.cid-rFz56gjeo5 .card-box {
  padding: 2rem;
  background-color: #ffffff;
}
.cid-rFz56gjeo5 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rFz56gjeo5 p {
  text-align: left;
}
.cid-rFz56gjeo5 .mbr-text {
  color: #767676;
}
.cid-rFz56gjeo5 .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rFz56gjeo5 .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-rFz56gjeo5 .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    -webkit-flex: 0 0 20%;
  }
}
.cid-so32FI3ryJ {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-so32FI3ryJ h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-so32FI3ryJ p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-so32FI3ryJ .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-so32FI3ryJ .mbr-section-btn a {
  margin: 0;
}
.cid-so32FI3ryJ .mbr-text {
  color: #767676;
}
.cid-so32FI3ryJ .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-so32FI3ryJ .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-so32FI3ryJ .mbr-text,
.cid-so32FI3ryJ .mbr-section-btn {
  text-align: center;
}
.cid-so32FI3ryJ .card-title {
  text-align: center;
}
.cid-san45FzSUt {
  padding-top: 45px;
  padding-bottom: 45px;
  background: #ede3d9;
}
.cid-san45FzSUt .media-container-row {
  margin: 0 auto;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-san45FzSUt .media-container-row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-san45FzSUt .media-container-row .img-item .img-cont {
  position: relative;
  overflow: hidden;
}
.cid-san45FzSUt .media-container-row .img-item .img-cont img {
  width: 100%;
}
.cid-san45FzSUt .media-container-row .img-item .img-cont .img-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
}
.cid-san45FzSUt .media-container-row .img-item .img-cont .img-caption p {
  margin-bottom: 0;
}
.cid-san45FzSUt .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .cid-san45FzSUt .img-item {
    width: 100% !important;
  }
  .cid-san45FzSUt .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
    -webkit-flex-basis: initial !important;
  }
}
.cid-san5PtwR3S {
  background-image: url("../../../assets/images/mbr-2.jpg");
}
.cid-san5PtwR3S .mbr-section-subtitle {
  letter-spacing: .2rem;
}
.cid-san5PtwR3S .media-container-column {
  background-color: #4f4943;
}
@media (max-width: 767px) {
  .cid-san5PtwR3S .media-container-column {
    padding: 1rem !important;
  }
}
.cid-so32HltcGx {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-so32HltcGx h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-so32HltcGx p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-so32HltcGx .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-so32HltcGx .mbr-section-btn a {
  margin: 0;
}
.cid-so32HltcGx .mbr-text {
  color: #767676;
}
.cid-so32HltcGx .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-so32HltcGx .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-so32HltcGx .mbr-text,
.cid-so32HltcGx .mbr-section-btn {
  text-align: center;
}
.cid-so32HltcGx .card-title {
  text-align: center;
}
.cid-san6HO35qq {
  background-image: url("../../../assets/images/mbr-3.jpg");
}
.cid-rp3OpJtqWP {
  padding-top: 120px;
  padding-bottom: 15px;
  background-color: #2e2e2e;
}
.cid-rp3OpJtqWP .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rp3OpJtqWP .section-text {
  padding: 2rem 0;
}
.cid-rp3OpJtqWP .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rp3OpJtqWP .inner-container {
    width: 100% !important;
  }
}
.cid-rpmDhiFJM5 {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rpmDhiFJM5 .form-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-rpmDhiFJM5 .content {
    text-align: center;
  }
  .cid-rpmDhiFJM5 .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-rpmDhiFJM5 .img-logo img {
  height: 6rem;
}
.cid-rpmDhiFJM5 .form-group,
.cid-rpmDhiFJM5 .input-group-btn {
  padding: 0;
}
.cid-rpmDhiFJM5 .form-control {
  font-size: .75rem;
  text-align: center;
  min-width: 150px;
}
.cid-rpmDhiFJM5 .input-group-btn .btn {
  padding: .75rem 1.5625rem !important;
  margin-left: .625rem;
  text-transform: none;
  color: #fff;
  text-align: center;
}
.cid-rpmDhiFJM5 .copyright .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-rpmDhiFJM5 .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rpmDhiFJM5 .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-rpmDhiFJM5 .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rpmDhiFJM5 .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-rpmDhiFJM5 .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rpmDhiFJM5 .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rpmDhiFJM5 .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rpmDhiFJM5 .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-rpmDhiFJM5 .foot-logo {
    text-align: center !important;
  }
  .cid-rpmDhiFJM5 .foot-title {
    text-align: center !important;
  }
  .cid-rpmDhiFJM5 .mbr-text {
    text-align: center !important;
  }
  .cid-rpmDhiFJM5 .form-group {
    margin: 0;
  }
}
.cid-rp3P0ZE4tF {
  background-image: url("../../../assets/images/mbr-7-1920x1280.jpg");
}
.cid-rp3P0ZE4tF h1 {
  color: #616161;
}
.cid-rp3P0ZE4tF h2,
.cid-rp3P0ZE4tF h3,
.cid-rp3P0ZE4tF p {
  color: #767676;
}
.cid-rp3P0ZE4tF .mbr-section-subtitle {
  font-style: italic;
}
.cid-rp3P45ElkM {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rp3P45ElkM .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-rp3P45ElkM .mbr-content-text {
  color: #767676;
  margin-bottom: 0;
}
.cid-rp3P45ElkM .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-rp3P45ElkM .img-text {
  width: 64px;
  height: 64px;
  font-size: 32px;
  border: 2px solid #efefef;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .cid-rp3P45ElkM .img-text {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .cid-rp3P45ElkM .cards-block {
    border-top: 2px solid #efefef;
  }
}
.cid-rp3P45ElkM .cards-block .card {
  border-bottom: 2px solid #efefef;
  border-radius: 0;
}
.cid-rp3P45ElkM .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-rp3P45ElkM .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-rp3P45ElkM .media-block {
    padding-left: 2rem;
  }
}
.cid-rp3P45ElkM .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@media (max-width: 991px) {
  .cid-rp3P45ElkM .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-rp3P45ElkM .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-rp3P7PmSik {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-rp3P7PmSik .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-rp3P7PmSik h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rp3P7PmSik p {
  color: #767676;
  text-align: left;
}
.cid-rp3P7PmSik .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rp3P7PmSik .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-rp3P7PmSik .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-rp3P7PmSik .card-title {
  text-align: center;
  color: #ff3366;
}
.cid-rp3P9Q0gKF {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rp3P9Q0gKF h3 {
  font-weight: 300;
}
.cid-rp3P9Q0gKF .card-img {
  width: initial;
}
.cid-rp3P9Q0gKF .card-img .mbr-iconfont {
  font-size: 48px;
  padding-right: 1rem;
}
.cid-rp3P9Q0gKF .media-container-row {
  word-wrap: break-word;
  padding-bottom: 2rem;
  min-height: 100%;
}
.cid-rp3P9Q0gKF .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rp3P9Q0gKF .mbr-section-subtitle {
  color: #767676;
}
.cid-rp3P9Q0gKF .mbr-text {
  color: #767676;
}
.cid-rp3P9Q0gKF .media-container-column {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
}
.cid-scWBWp7Kgb {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-scWBWp7Kgb .form-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-scWBWp7Kgb .content {
    text-align: center;
  }
  .cid-scWBWp7Kgb .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-scWBWp7Kgb .img-logo img {
  height: 6rem;
}
.cid-scWBWp7Kgb .form-group,
.cid-scWBWp7Kgb .input-group-btn {
  padding: 0;
}
.cid-scWBWp7Kgb .form-control {
  font-size: .75rem;
  text-align: center;
  min-width: 150px;
}
.cid-scWBWp7Kgb .input-group-btn .btn {
  padding: .75rem 1.5625rem !important;
  margin-left: .625rem;
  text-transform: none;
  color: #fff;
  text-align: center;
}
.cid-scWBWp7Kgb .copyright .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-scWBWp7Kgb .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-scWBWp7Kgb .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-scWBWp7Kgb .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-scWBWp7Kgb .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-scWBWp7Kgb .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-scWBWp7Kgb .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-scWBWp7Kgb .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-scWBWp7Kgb .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-scWBWp7Kgb .foot-logo {
    text-align: center !important;
  }
  .cid-scWBWp7Kgb .foot-title {
    text-align: center !important;
  }
  .cid-scWBWp7Kgb .mbr-text {
    text-align: center !important;
  }
  .cid-scWBWp7Kgb .form-group {
    margin: 0;
  }
}
.cid-sodmR89GYK {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mbr-1280x1920.png");
}
.cid-sodmUo69u9 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-sodmUo69u9 .card-box {
  padding: 0 2rem;
}
.cid-sodmUo69u9 .mbr-section-btn {
  padding-top: 1rem;
}
.cid-sodmUo69u9 .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-sodmUo69u9 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-sodmUo69u9 p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-sodmUo69u9 .mbr-text {
  color: #767676;
}
.cid-sodmUo69u9 .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sodmUo69u9 .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-sodoiI1xm2 {
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-sodoiI1xm2 .mbr-section-subtitle {
  letter-spacing: .2rem;
}
.cid-sodoiI1xm2 .media-container-column {
  background-color: #4f4943;
}
@media (max-width: 767px) {
  .cid-sodoiI1xm2 .media-container-column {
    padding: 1rem !important;
  }
}
.cid-sodom9W91k {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sodom9W91k .mbr-text,
.cid-sodom9W91k blockquote {
  color: #767676;
}
.cid-sodpxZ2i9o {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-sodpxZ2i9o .mbr-section-subtitle,
.cid-sodpxZ2i9o .mbr-text {
  color: #767676;
}
.cid-sodpxZ2i9o .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sodpxZ2i9o .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sodpxZ2i9o .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-sodpxZ2i9o .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-sodpxZ2i9o .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-sodpxZ2i9o .card-wrapper .card-img img {
  width: 100%;
}
.cid-sodpxZ2i9o .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-sodpxZ2i9o .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-sodpxZ2i9o .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-sodpxZ2i9o .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-sodpxZ2i9o .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-sodpxZ2i9o .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-sodpxZ2i9o .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-sodpxZ2i9o .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-sodoHzPY08 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sodoHzPY08 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-sodoHzPY08 p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-sodoHzPY08 .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-sodoHzPY08 .mbr-section-btn a {
  margin: 0;
}
.cid-sodoHzPY08 .mbr-text {
  color: #767676;
}
.cid-sodoHzPY08 .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-sodoHzPY08 .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-sodqiX76X3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-sodqzjLyBk {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sodqzjLyBk .mbr-section-subtitle {
  color: #767676;
}
.cid-sodqzjLyBk .media-row {
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sodqzjLyBk .team-item {
  transition: all .2s;
  margin-bottom: 2rem;
}
.cid-sodqzjLyBk .team-item .item-image img {
  width: 100%;
}
.cid-sodqzjLyBk .team-item .item-name p {
  margin-bottom: 0;
}
.cid-sodqzjLyBk .team-item .item-role p {
  margin-bottom: 0;
}
.cid-sodqzjLyBk .team-item .item-social {
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
}
.cid-sodqzjLyBk .team-item .item-social .socicon {
  color: #232323;
  font-size: 17px;
}
.cid-sodqzjLyBk .team-item .item-caption {
  background: #efefef;
}
.cid-sodqg4Av85 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-sodqg4Av85 .mbr-section-subtitle,
.cid-sodqg4Av85 .mbr-text {
  color: #767676;
}
.cid-sodqg4Av85 .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sodqg4Av85 .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sodqg4Av85 .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-sodqg4Av85 .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-sodqg4Av85 .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-sodqg4Av85 .card-wrapper .card-img img {
  width: 100%;
}
.cid-sodqg4Av85 .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-sodqg4Av85 .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-sodqg4Av85 .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-sodqg4Av85 .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-sodqg4Av85 .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-sodqg4Av85 .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-sodqg4Av85 .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-sodqg4Av85 .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-sodqdK25sp {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sodqdK25sp h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-sodqdK25sp p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-sodqdK25sp .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-sodqdK25sp .mbr-section-btn a {
  margin: 0;
}
.cid-sodqdK25sp .mbr-text {
  color: #767676;
}
.cid-sodqdK25sp .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-sodqdK25sp .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-sodqebHca3 {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sodqebHca3 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-sodqebHca3 p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-sodqebHca3 .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-sodqebHca3 .mbr-section-btn a {
  margin: 0;
}
.cid-sodqebHca3 .mbr-text {
  color: #767676;
}
.cid-sodqebHca3 .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-sodqebHca3 .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-sodrNKywSs {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #232323;
}
.cid-sodrNKywSs .testimonial-text {
  font-style: italic;
  font-weight: 300;
}
.cid-sodrNKywSs .mbr-author-name {
  font-weight: bold;
}
.cid-sodrNKywSs .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-sodrNKywSs .mbr-figure,
  .cid-sodrNKywSs img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-sodrNKywSs .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-sodrQ4t2Uk {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sodrQ4t2Uk .mbr-text {
  color: #767676;
  margin: 0;
  padding-top: 1.5rem;
}
.cid-sodrQ4t2Uk div.b {
  padding-top: 2rem;
}
.cid-sodrTnlJXq {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sodrTnlJXq h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-sodrTnlJXq p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-sodrTnlJXq .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-sodrTnlJXq .mbr-section-btn a {
  margin: 0;
}
.cid-sodrTnlJXq .mbr-text {
  color: #767676;
}
.cid-sodrTnlJXq .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-sodrTnlJXq .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-sodrUbNFqa {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sodrUbNFqa h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-sodrUbNFqa p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-sodrUbNFqa .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-sodrUbNFqa .mbr-section-btn a {
  margin: 0;
}
.cid-sodrUbNFqa .mbr-text {
  color: #767676;
}
.cid-sodrUbNFqa .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-sodrUbNFqa .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-sodrV3Djmt {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-sodrV3Djmt .mbr-section-subtitle,
.cid-sodrV3Djmt .mbr-text {
  color: #767676;
}
.cid-sodrV3Djmt .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sodrV3Djmt .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sodrV3Djmt .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-sodrV3Djmt .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-sodrV3Djmt .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-sodrV3Djmt .card-wrapper .card-img img {
  width: 100%;
}
.cid-sodrV3Djmt .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-sodrV3Djmt .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-sodrV3Djmt .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-sodrV3Djmt .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-sodrV3Djmt .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-sodrV3Djmt .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-sodrV3Djmt .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-sodrV3Djmt .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-sodtd1J1l8 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-sodtd1J1l8 .mbr-section-btn > * {
  margin: 0;
}
.cid-sodtd1J1l8 h4 {
  font-weight: 500;
}
.cid-sodtd1J1l8 p {
  color: #232323;
}
.cid-sodtd1J1l8 .aside-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-sodtd1J1l8 .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-sodtd1J1l8 .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-sodtd1J1l8 .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-sodtd1J1l8 .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-sodtd1J1l8 .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-sodtd1J1l8 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sodtd1J1l8 .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-sodtd1J1l8 .card-img span {
    font-size: 40px !important;
  }
}
.cid-sodtd1J1l8 .cost {
  text-decoration: line-through;
  color: #767676;
}
.cid-sodtkBxZWB {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sodtkBxZWB .mbr-text,
.cid-sodtkBxZWB blockquote {
  color: #767676;
}
.cid-sodtfti7SH {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sodtfti7SH h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-sodtfti7SH p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-sodtfti7SH .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-sodtfti7SH .mbr-section-btn a {
  margin: 0;
}
.cid-sodtfti7SH .mbr-text {
  color: #767676;
}
.cid-sodtfti7SH .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-sodtfti7SH .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-sodtfYqpjM {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sodtfYqpjM h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-sodtfYqpjM p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-sodtfYqpjM .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-sodtfYqpjM .mbr-section-btn a {
  margin: 0;
}
.cid-sodtfYqpjM .mbr-text {
  color: #767676;
}
.cid-sodtfYqpjM .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-sodtfYqpjM .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-sodtgLWf1b {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sodtgLWf1b h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-sodtgLWf1b p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-sodtgLWf1b .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-sodtgLWf1b .mbr-section-btn a {
  margin: 0;
}
.cid-sodtgLWf1b .mbr-text {
  color: #767676;
}
.cid-sodtgLWf1b .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-sodtgLWf1b .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-sodthYTl5s {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-sodthYTl5s .mbr-section-subtitle,
.cid-sodthYTl5s .mbr-text {
  color: #767676;
}
.cid-sodthYTl5s .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sodthYTl5s .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sodthYTl5s .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-sodthYTl5s .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-sodthYTl5s .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-sodthYTl5s .card-wrapper .card-img img {
  width: 100%;
}
.cid-sodthYTl5s .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-sodthYTl5s .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-sodthYTl5s .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-sodthYTl5s .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-sodthYTl5s .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-sodthYTl5s .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-sodthYTl5s .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-sodthYTl5s .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-soduRoI6iR {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/background4.jpg");
}
.cid-sodwKFVqri {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-sodwKFVqri h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sodwKFVqri p {
  color: #767676;
  margin: 0;
}
.cid-sodwKFVqri .card-box {
  background-color: #ffffff;
  background-color: transparent;
}
.cid-sodwKFVqri .mbr-section-btn {
  padding-top: 1rem;
}
.cid-sodwKFVqri .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sodwKFVqri .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-sodwKFVqri .border_wrapper {
  border-left: 1px solid #efefef;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-sodwKFVqri .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-sodwKFVqri .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-sodwKFVqri .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sodwKFVqri .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-sodwKFVqri .col-left h4 {
    padding-top: 1rem;
  }
  .cid-sodwKFVqri p.col-right {
    padding-top: 1rem;
  }
}
.cid-soduSWFQcO {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-soduSWFQcO h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-soduSWFQcO p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-soduSWFQcO .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-soduSWFQcO .mbr-section-btn a {
  margin: 0;
}
.cid-soduSWFQcO .mbr-text {
  color: #767676;
}
.cid-soduSWFQcO .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-soduSWFQcO .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-sodvqAsFHt {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sodvqAsFHt h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-sodvqAsFHt p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-sodvqAsFHt .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-sodvqAsFHt .mbr-section-btn a {
  margin: 0;
}
.cid-sodvqAsFHt .mbr-text {
  color: #767676;
}
.cid-sodvqAsFHt .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-sodvqAsFHt .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-sodvp3tKKP {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-sodvp3tKKP .mbr-section-subtitle,
.cid-sodvp3tKKP .mbr-text {
  color: #767676;
}
.cid-sodvp3tKKP .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sodvp3tKKP .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sodvp3tKKP .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-sodvp3tKKP .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-sodvp3tKKP .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-sodvp3tKKP .card-wrapper .card-img img {
  width: 100%;
}
.cid-sodvp3tKKP .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-sodvp3tKKP .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-sodvp3tKKP .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-sodvp3tKKP .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-sodvp3tKKP .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-sodvp3tKKP .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-sodvp3tKKP .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-sodvp3tKKP .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-sodD8qPyJs {
  padding-top: 120px;
  padding-bottom: 120px;
  background: linear-gradient(45deg, #0f7699, #cc2952);
}
.cid-sodD8qPyJs .list-group-item {
  padding: .75rem 3.25rem;
}
.cid-sodD8qPyJs .plan {
  word-break: break-word;
  position: relative;
  max-width: 300px;
  padding-right: 0;
  padding-left: 0;
  color: #767676;
}
.cid-sodD8qPyJs .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
}
.cid-sodD8qPyJs .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-sodD8qPyJs .plan .list-group-item:last-child::after {
  display: none;
}
.cid-sodD8qPyJs .plan-header {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sodD8qPyJs .plan-header,
.cid-sodD8qPyJs .plan-body {
  background-color: #fff;
}
.cid-sodD8qPyJs .price-figure {
  font-weight: 700;
  color: #232323;
}
.cid-sodD8qPyJs .price-value {
  font-weight: 700;
  vertical-align: top;
}
@media (max-width: 550px) {
  .cid-sodD8qPyJs .price-figure {
    font-size: 4.25rem;
  }
}
.cid-tuyKrCJaJv {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f3f4f6;
}
.cid-tuyKrCJaJv .testimonial-text {
  font-style: italic;
  color: #676767;
  font-weight: 300;
}
.cid-tuyKrCJaJv .mbr-author-name {
  font-weight: bold;
  color: #232;
}
.cid-tuyKrCJaJv .mbr-author-desc {
  color: #232;
}
@media (max-width: 991px) {
  .cid-tuyKrCJaJv .mbr-figure,
  .cid-tuyKrCJaJv img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
}
.cid-tuyL5wbnQP {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-tuyL5wbnQP h2 {
  text-align: left;
}
.cid-tuyL5wbnQP h4 {
  text-align: left;
  font-weight: 500;
}
.cid-tuyL5wbnQP p {
  color: #767676;
  text-align: left;
}
.cid-tuyL5wbnQP .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-tuyL5wbnQP .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-tuyL5wbnQP .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-tuyL5wbnQP .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-tuyL5wbnQP .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-tuyL5wbnQP .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-tuyL5wbnQP .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tuyL5wbnQP .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-tuyL5wbnQP .card-img span {
    font-size: 40px !important;
  }
}
.cid-tuyLf2U9a1 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-tuyLf2U9a1 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-tuyLf2U9a1 p {
  color: #767676;
  margin: 0;
}
.cid-tuyLf2U9a1 .card-box {
  background-color: #ffffff;
  background-color: transparent;
}
.cid-tuyLf2U9a1 .mbr-section-btn {
  padding-top: 1rem;
}
.cid-tuyLf2U9a1 .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tuyLf2U9a1 .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-tuyLf2U9a1 .border_wrapper {
  border-left: 1px solid #efefef;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-tuyLf2U9a1 .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-tuyLf2U9a1 .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-tuyLf2U9a1 .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tuyLf2U9a1 .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-tuyLf2U9a1 .col-left h4 {
    padding-top: 1rem;
  }
  .cid-tuyLf2U9a1 p.col-right {
    padding-top: 1rem;
  }
}
.cid-tuyLlHzifg {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-tuyLlHzifg .mbr-section-btn > * {
  margin: 0;
}
.cid-tuyLlHzifg h4 {
  font-weight: 500;
}
.cid-tuyLlHzifg p {
  color: #232323;
}
.cid-tuyLlHzifg .aside-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-tuyLlHzifg .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-tuyLlHzifg .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-tuyLlHzifg .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-tuyLlHzifg .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-tuyLlHzifg .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-tuyLlHzifg .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tuyLlHzifg .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-tuyLlHzifg .card-img span {
    font-size: 40px !important;
  }
}
.cid-tuyLlHzifg .cost {
  text-decoration: line-through;
  color: #767676;
}
.cid-tuyLsWXuFk {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-tuyLsWXuFk .title {
  margin-bottom: 2rem;
}
.cid-tuyLsWXuFk .mbr-section-subtitle {
  color: #767676;
}
.cid-tuyLsWXuFk a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-tuyLsWXuFk a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-tuyLsWXuFk textarea.form-control {
  min-height: 188px;
}
.cid-tuyLGxcG9e {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-tuyLGxcG9e .card {
  align-self: stretch;
}
.cid-tuyLGxcG9e .card-box {
  height: 100%;
  background-color: #ffffff;
  padding: 2rem;
}
.cid-tuyLGxcG9e h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-tuyLGxcG9e p {
  color: #767676;
  text-align: left;
}
.cid-tuyLGxcG9e .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tuyLGxcG9e .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-tuyLGxcG9e .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-tyE0LA0Ewz {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #0f7699;
}
.cid-tyE0Gm2xJx {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-tyE0Gm2xJx h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-tyE0Gm2xJx p {
  color: #767676;
  margin: 0;
}
.cid-tyE0Gm2xJx .card-box {
  background-color: #ffffff;
  background-color: transparent;
}
.cid-tyE0Gm2xJx .mbr-section-btn {
  padding-top: 1rem;
}
.cid-tyE0Gm2xJx .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tyE0Gm2xJx .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-tyE0Gm2xJx .border_wrapper {
  border-left: 1px solid #efefef;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-tyE0Gm2xJx .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-tyE0Gm2xJx .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-tyE0Gm2xJx .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tyE0Gm2xJx .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-tyE0Gm2xJx .col-left h4 {
    padding-top: 1rem;
  }
  .cid-tyE0Gm2xJx p.col-right {
    padding-top: 1rem;
  }
}
.cid-tyE1ec8tHY {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #0f7699;
}
.cid-tyE1cAtjDD {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-tyE1cAtjDD h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-tyE1cAtjDD p {
  color: #767676;
  margin: 0;
}
.cid-tyE1cAtjDD .card-box {
  background-color: #ffffff;
  background-color: transparent;
}
.cid-tyE1cAtjDD .mbr-section-btn {
  padding-top: 1rem;
}
.cid-tyE1cAtjDD .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tyE1cAtjDD .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-tyE1cAtjDD .border_wrapper {
  border-left: 1px solid #efefef;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-tyE1cAtjDD .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-tyE1cAtjDD .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-tyE1cAtjDD .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tyE1cAtjDD .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-tyE1cAtjDD .col-left h4 {
    padding-top: 1rem;
  }
  .cid-tyE1cAtjDD p.col-right {
    padding-top: 1rem;
  }
}
