/********************** Main CSS *************/
html {
    overflow-y: scroll;
}

:root,
body,
#app {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    margin: 0;
    background-color: rgb(var(--v-theme-background)) !important;
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6, h1, h2, h3, h4, h5, h6, p {
    color: rgb(var(--v-theme-on-background)) !important;
}

.color-title {
    color: white !important;
}

.character-text {
    color: black !important;
}

#topnav {
    width: 100% !important;
    z-index: 99999 !important;
}

.logobrand {
    text-decoration: none;
    position: relative;
    top: 5px;
}

.logotext {
  display: inline-block;  
}

.ais-InstantSearch {
    position: relative;
}

.pa-2 {
    bottom: 0px !important;
    position: fixed !important;
    width: 100%
}

/******************* Main Section CSS *********/

#mainSection {
    top: 0px !important;
    position: relative !important;
    padding-bottom: 5px;
    width: 100% !important;
    height: 100% !important;
}

.contentSection {
    position: relative !important;
    padding-right: 15px;
}

.homeSection {
    padding: 45px !important;
}

.homeSection a {
    text-decoration: none;
}

.homeTitle, .homeDescription {
    padding: 5px;
}

.homeRows {
    color: white;
}

.homeRight {
    padding: 15px;
}

.dialog-bottom-transition-enter-active,
.dialog-bottom-transition-leave-active {
    transition: transform .2s ease-in-out;
}

.contentDashboard {
    padding: 10px;
}

.homePage {
    padding: 25px;
}

.lowerbar h5, .characterHeader {
    padding: 15px;
}

.lowerbar a {
    color: white;
}

.categorySheet, .mb-10, .mx-auto {
    background-color: transparent !important;
}

.categoryPage {
    padding-bottom: 20px !important;
    position: relative;
}

.characterBio {
    padding: 20px;
}

.categoryPage h4 {
    color: black;
    padding-top: 30px;
    padding-left: 5%;
}

.characterLowerPage {
    padding-left: 25px;
    margin-bottom: 10%;
    margin-top: 3%;
}

.storyNotFound {
    position: relative;
    text-align: center;
    margin-top: 5%;
    font-size: 25px;
}

.storyDesc {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.6;
}

.pageDescription {
    padding: 20px;
}

.characterCard {
    padding: 10px;
}

.affiliateList {
    right: 720px;
    position: relative;
}

.abilitiesList {
    right: 109px;
    position: relative;
}

.cid-uLEeT3ZF2k {
    background-color: transparent !important;
}

/******************** Sidebar CSS *************/

#sidebarNav {
    height: 100vh !important;
    left: 0px;
    float: left;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

/********************* Search CSS ****************/

.searchCard {
    width: 90vw !important;
    height: 90vh !important;
    position: relative;
}